@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

* {
  box-sizing: border-box;
  background-color: rgba(46, 61, 46, 1);
  font-family: 'Ubuntu Mono', monospace;
  color: rgba(131, 245, 181, 1);
}
#terminalOutput{
height:100%;
}
#terminalInput{
  outline:none;
  width:100%;

}
