*{
  box-sizing: border-box;
  margin:0px;
  padding:0;
}

#colorWheel{
  background-color:black;

  position:relative;
  width:256px;
  height:256px;
}


#valuePicker{
  position:relative;
  width:'auto';
  height:'auto';

}

#colorWheel{
  position: relative;
  background-color: yellow;
  z-index: 0;
  margin:5px;
}

#color{
  width:256px;
display:flex;
flex-flow: column;
align-items:center;
}
