*{
  box-sizing: border-box;
  margin:0px;
  padding:0;
}

#colorWheel{
  background-color:black;
  margin:0;
  position:relative;
  width:256px;
  height:256px;
}


#valuePicker{
  position:relative;
  width:'auto';
  height:'auto';
  margin-top:10px;

}

#colorWheel{
  position: relative;
  background-color: yellow;
  z-index: 0;
  margin:0px;
}

#color{
  width:256px;
display:flex;
flex-flow: column;
align-items:center;
}

#sizePicker{
  /* background-color:magenta; */
  margin-top:64px;
  /* width:256px;
  height:256px;
  background-color: purple; */
}
